@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;

400;700;900&display=swap");
@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header .header__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.header .header__row .menu .menu__body .menu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}

.header .header__row .menu .menu__body .menu__list li {
  position: relative;
  padding: 0px 35.5px;
}

.header .header__row .menu .menu__body .menu__list li:nth-child(2) {
  padding: 0px 110px 0px 35.5px;
}

.header .header__row .menu .menu__body .menu__list li:nth-child(3) {
  padding: 0px 35.5px 0px 110px;
}

.header .header__row .menu .menu__body .menu__list li:after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -2px 0px 0px 0px;
}

.header .header__row .menu .menu__body .menu__list li:last-child:after {
  display: none;
}

.header .header__row .menu .menu__body .menu__list li:nth-child(2):after {
  display: none;
}

.header .header__row .menu .menu__body .menu__list li .menu__link {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

.header .header__row .header__logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0px, 0px);
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    top: 30px;
  }

  .header .header__row .menu .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0px 0px 0px;
    overflow: auto;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header .header__row .menu .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
  }

  .header .header__row .menu .menu__body .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .header__row .menu .menu__body .menu__list li {
    padding: 0 0 45px 0;
  }

  .header .header__row .menu .menu__body .menu__list li:nth-child(2),
  .header .header__row .menu .menu__body .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }

  .header .header__row .menu .menu__body .menu__list li:nth-child(2):after,
  .header .header__row .menu .menu__body .menu__list li:nth-child(3):after {
    display: block;
  }

  .header .header__row .menu .menu__body .menu__list li:last-child {
    padding: 0;
  }

  .header .header__row .menu .menu__body .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }

  .header .header__row .menu .menu__body .menu__list li .menu__link {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background-color: white;
  }

  .icon-menu.active span:first-child {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}