

//<МИКСИНЫ>===============================================================================================
@import "mixins";

//   шрифты ==========================================================================================
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "fonts";

// шрифты по-умолчанию ===================================================================================
$fontfamily: "Lato";

// обнуление ==============================================================================================
@import "null";

// fontAwesome =============================================================================================
@import "iconfontAwesome";
// переменные ===========================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
// цвет шрифта
$colorFont: #4d4959;




// =======================================================================================================

// оболочка =========================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  &.loaded {
  }
}
// основная сетка ==============================================================================
.container {
  max-width: $mw+px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

// ===============================================================================================

// подключение файлов стилей страниц и элементов ======================================================
@import "header";
@import "footer";


// основной блок =====================================================================================

.link{
  font-family: "Montserrat-Regular";
  font-size: 50px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #1b3139;
  margin: 30px;
}





// подключение файлов ui стилей, форм и готовых классов
@import "forms";
@import "ui";