
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================


//   шрифты ==========================================================================================
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "fonts";
// шрифты по-умолчанию ===================================================================================
$fontfamily: "Montserrat";
// обнуление ==============================================================================================
@import "null";
// =======================================================================================================
// fontAwesome =============================================================================================
@import "iconfontAwesome";
// myIconsFonts ====================================================================================
@import "myIconsFonts";
// переменные ===========================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
// цвет шрифта
$colorFont: green;
$grey: #999999;
$blue: #1ab9ce;
$hover_blue:  #068292;
$foxy: #f68038;
$font_color_dark: #303030;
$font_color_medium: #707070;
$font_color_light: #E8E8E8;

// оболочка =========================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  @include flexbox();
  &.loaded {
  }
}
// основная сетка ==============================================================================
.container {
  max-width: $mw+px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 100%;
  @media (max-width: $md1+px) {
    //max-width: 970px;
  }
  @media (max-width: $md2+px) {
    //max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

// ===============================================================================================

// подключение файлов стилей страниц и элементов ======================================================
@import "header";
@import "footer";


// основной блок =====================================================================================

.main{
  width: 100%;
  height: 2000px;
  font-size: 18px;
  color: #1b3139;
  line-height: 28px;
  padding: 200px 0px 0px 0px;
}





// подключение файлов ui стилей, форм и готовых классов
@import "forms";
@import "ui";
